body{
    margin-right: 50%px;
}
div.content{
    width: 800px;
    height: 2000px;
    float: left;


}
div.name1{
    border: 1px solid red;
    width: 800px;
    height: 100px;
}
div.nam1{
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
div.nam2{
    width: 40%;
}
h2{
    font-size: 15px;
    color: red;
}
p{
    font-size: 10px;
}