*{
    /* tat ca cac the deu bi anh huong*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #f2f2f2;
    font-width: 400;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main,.footer{
    float: left;
    width: 100%;
}
.container{
    width:1200px;
    margin: 0 auto;
}
header-left{
    float: left;
    width: 60%;
}
.menu li{
    float: left;
    padding: 20px;
    list-style: none;
    text-transform: capitalize;
}
.pic1{
    width: 20px;
    height: 20px;
}
.text1{
    color: #333333;
}
.text2{
    color: #a29a9a;
    line-height: 1.5;
}
.pic2{
    width: 30px;
    height: 30px;
    margin-left: 220px;
}
.logo{
    left: 45%;
    padding: 20px;
    margin-top: 20px;
}
input[type="text"]{
    width:  150px;
    padding: 0px 0px;
    margin-left:px;
}
.header-right{
    float: right;
    width: 40%;
}
.menu1 li{
    float: right;
    padding: 25px;
    list-style: none;
    text-transform: capitalize;
}
.colorl{
   color: #ced09a;
    font-size: 130%;
}
.signup{
    color: white;
    font-size: 130%;
    border-radius: 15px;
    background-color: #78ea78;
    padding: 5px;
}
.header{
    background-color: #eff3eb;
}
.content1{
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background-color: #78ea78;
}
.text3{
    text-align: center;
}
.menu2 li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    float: left;
    width: 28%;
    padding: 10px 0;
    margin:0 30px
}
.text4{
    font-size: 20px;
    color: #736e6e;
}
.text5{
    font-size: 20px;
    color: #736e6e;
}
.text6{
    font-size: 20px;
    color: #736e6e;
}
.border1{
    border-right:solid #70bf70;
    border-right-width: thin ;
    background-color: #78ea78;
}
.border2{
    background-color: #78ea78;
}
.border3{
    border-left:solid #70bf70;
    border-left-width: thin ;
    background-color: #78ea78;
}
.clr{
    clear: both;
    font-size: 0;
}
.menu2{
    background-color: #78ea78;
}
.content2{
    background-color: #78ea78;
}
.containet1{
    width: 1200px;
    margin: 0 auto;
}
.main1{
    background-color: #78ea78;
}
.content1{
    border-bottom:solid #70bf70;
    border-bottom-width: thin;
}
.menu3 li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    float: left;
    width: 10%;
    padding-top: 40px;
}
.text7{
    color: black;
}
.text8{
    color: #6e6b6b;
}
.im1{
    float: left;
    height: 40%;
    width: 30%;
}
.price{
    float: right;
    height: 40px;
    width: 80px;
    text-align: center;
    background-color: #66ffcc;
    padding: 10px 0;
    font-weight:700 ;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}
.clr1{
    clear: both;
}
.im2{
    float: left;
    height: 40%;
    width: 30%;
    margin: 0px 60px;
}
.im3{
    float:  right;
    height: 40%;
    width: 30%;
}
.im4{
    float: left;
    height: 40%;
    width: 30%;
    margin: 50px 0px;
}
.im5{
    float:left;
    height: 40%;
    width: 30%;
    margin: 50px 60px;
}
.im6{
    float:  right;
    height: 40%;
    width: 30%;
    margin-top: 50px;
}