*{
    /* tat ca cac the deu bi anh huong*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #333333;
    background-color: #cc0000;
    background: -moz-linear-gradient(bottom, #8f00cc 40%, #10e5bb 60%);
    background: -o-linear-gradient(bottom, #8f00cc 40%, #15c2dd 60%);
    background: -ms-linear-gradient(bottom, #a000cc 40%, #1ed3db 60%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #9600cc),color-stop(0.6, #1867e2));
    font-width: 400;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main,.footer{
    float: left;
    width: 100%;
}
.container{
    background-color: white;
    width:500px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    height: 600px;
    margin-bottom: 50px;
}
.box1{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login1 {
    margin-top: 50px;
    width: 100%;
}
.login{
    width: 400px;
    margin: 0 auto;
}
.topic1{
    padding-top: 20px;
    margin-right: 10px;
    width: 30px;
}
.input-text{
    width: 35%;
    height: 30%;
    margin: 10px;
}
.text{
    width: 160px;
    height: 50px;
}
.text3{
    margin-left: 20px;
    margin-top: 0px;
    color: #a29a9a;
}
.text4{
    margin-left: 20px;
    color: #a29a9a;
}
.input-text{
    width: 100%;
    height: 30%;
    float: right;
    margin: 10px;
    margin-right: 0px;
}
.o1{
    width: 160px;
    height: 50px;
    float: right;
}
.o2{
    width: 160px;
    height: 50px;
    float: right;
    margin-right: 0px;
}
.input-text{
    width: 140px;
    height: 25px;
    margin-top: 0px;
    float: right;
}
.login2{
    margin-top: 60px;
    height: 50px;
}
.o3{
    width: 300px;
    float: right;
}
.input-text1{
    width: 100%;
    height: 25px;
    margin-top: 0px;
}
.login3{
    margin-top: 10px;
}
.login4{
    margin-top: 40px;
}
.o4{
    width: 200px;
    height: 50px;
    float: right;
}
.o5{
    width: 100px;
    height: 50px;
    float: right;
    margin-right: 0px;
}
.input-text2{
    width: 200px;
    height: 25px;
    margin-top: 0px;
}
.input-text3{
    width: 80px;
    height: 25px;
    margin-top:0px;
}
.login5{
    margin-top: 40px;
}
.login6{
    margin-top: 40px;
}
.register{
    width: 35%;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 20px;
    background-color: #db3939;
    border-radius: 5px;
}
.link1{
    color: white;
}