#menu li {
    float: left;
    padding: 0px 0px;
    list-style: none;
    border-bottom: solid thin #a29c9c;
}
#box1{
    outline: none;
    text-align: center;
    border: 0;
}
#box2{
    outline: none;
    text-align: center;
    border: 0;
}
#box3{
    outline: none;
    text-align: center;
    border: 0;
}
#box4{
    outline: none;
    text-align: center;
    border: 0;
}
#text1{
    display: none;
}
#text2{
    display: none;
}

#text3{
    display: none;
}
#text4{
    display: none;
}
.menu1{
    margin-left: 5%;
}